[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {editable = true,ref = "v0.9.1",git = "https://www.github.com/AfricasVoices/CoreDataModules"}
PipelineInfrastructure = {editable = true,ref = "08cfb07be4c80656924bceaeeaef15a21ddb7a72", git = "https://www.github.com/AfricasVoices/PipelineInfrastructure"}
pytz = "*"
python-dateutil = ">=2.8.0"  # Need this minimum so that isoparse handles T24:00:00 correctly.
google-cloud-storage = "*"
urllib3 = ">=1.24.2"

[dev-packages]

[requires]
python_version = "3.6"
